/*Generals*/

*{
    margin: 0;
    padding: 0;
    font-family: serif;
}

body{
    background-color: aliceblue;
}

.container{
    width:70%;
    margin: 10px auto;
    
}

.back-white{
    background-color: #fff;
}

/*Header Section*/

#logo{
    vertical-align: -15px;
}

header{
    height: 60px;
    margin-bottom: 20px;
    padding-top: 15px;
}

#title{
    font-size: 40px;
}

/*Main Section*/

main{
   width: 70%;
   margin: auto;
}

.add{
    margin-bottom: 5px;
    height: 50px;
}


.button{
    display: inline;
    margin: 0 5px 0 10px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(54, 141, 255);
    vertical-align: -20px;
}